@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --liver-color: rgb(224 93 93);
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-width: 360px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Custom style */
.active{
  color: rgb(224 93 93);
  position: relative;

  &:before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 45%;
    background-color: rgb(224 93 93);
  }
}

.bg-lightBlue{
  background-color: rgb(204 250 245);
}
.text-liver{
  color: rgb(224 93 93);
}


/* "liver-color": "rgb(224 93 93)" */
